STORE_CORS=http://localhost:8000,https://docs.medusajs.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://docs.medusajs.com
REDIS_URL=redis://localhost:6379
JWT_SECRET=supersecret
COOKIE_SECRET=supersecret
DATABASE_URL=
DB_NAME=medusa-v2

# MercadoPago Configuration
# Token de acceso disponible en la sección Test Credentials de tu aplicación MercadoPago
MERCADOPAGO_ACCESS_TOKEN=your_access_token_here

# (Opcional pero recomendado) Webhook secret disponible en la sección Webhooks de tu aplicación MercadoPago
MERCADOPAGO_WEBHOOK_SECRET=your_webhook_secret_here
